div.forms {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

  .example-result-card{
    width: 70%;
    padding: 12px 20px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  }

  .matforms{
    width: 100%;
    padding: 12px 20px;
    
    margin-bottom: 8px;
    display: inline-block;
    box-sizing: border-box;
  
  }

  button.accept{
    width: 70%;
    padding: 12px 20px;
    margin-right: 15%;
    margin-left: 15%;
  }

  button.add{
    margin-top: 2%;
    margin-left: 45%;
    margin-bottom: 2%;
  }

  button.visibility{
    margin-left: 75%;
  }

  input{
    width: 50%;
    padding: 12px 20px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .decisionImage{
    margin-left: 35%;
    height: 300px;
    width: 300px;
    
  }

