<article>

  <div class="forms">
    <mat-card class="example-result-card">
      <mat-card-content>
        <h4>Select a Company</h4>
        <mat-form-field class='matforms' appearance="fill">
          <mat-select matTooltip="Defaults to Citi" [(ngModel)]="ticker">
            <mat-option [value]="option.value" *ngFor="let option of tickers">{{ option.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="example-button-container">
          <button mat-fab class="add" color='primary' (click)="setHidden()" matTooltip="Add your own ticker">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <section>
          <input [(ngModel)]="ticker" type={{hidden}} placeholder="Stock code : Default C" />
          <button mat-icon-button style={{style}} (click)="setNoHidden()" class="visibility">
            <mat-icon>visibility_off</mat-icon>
          </button></section>
        <br /><br />
        <button mat-raised-button class="accept" color="primary" (click)='predictInvestment()'>Predict
          Investment</button>

        <br />
      </mat-card-content>
    </mat-card>
  </div>
  <br /><br />
  <div class="forms">
    <h1 style="text-align: center;">Predicted Decision</h1>
    <img [src]="URL" class="decisionImage" />
  </div>


</article>