<article>
    <section>
        <div class="forms">
            <mat-card class="example-result-card">
                <label>Stock Ticker</label>
                <input [(ngModel)]="stockTicker" placeholder="Give a ticker" />
                <label>Stock Quantity</label>
                <input [(ngModel)]="stockQuantity" placeholder="Number of stocks" />
                <!-- <label>Price Quoted</label>
                <input [(ngModel)]="requestedPrice" placeholder="Price in Dollars ($)"/> -->

                <label>Select the Trade Type</label>
                <mat-form-field class='matforms' appearance="fill">
                    <mat-select matTooltip="Defaults to Buy" [(ngModel)]="tradeStates">
                        <mat-option [value]="option.value" *ngFor="let option of tradestate">{{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button (click)="checkInvestment()" class="accept1">
                    <mat-icon>calculate</mat-icon> Calculate Your Investment
                </button><br />
                <button mat-raised-button class="accept" color="primary" (click)='postStock()'>Post Trade</button>
                <h6>* The trade is carried for the current date of entry</h6>
            </mat-card>

        </div>
        <div class="long-form">
            <table mat-table #table [dataSource]="data" class="mat-elevation-z8">
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
                </ng-container>
                <ng-container matColumnDef="Ticker">
                    <th mat-header-cell *matHeaderCellDef> Ticker </th>
                    <td mat-cell *matCellDef="let row"> {{row.stockTicker}} </td>
                </ng-container>
                <ng-container matColumnDef="Quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let row"> {{row.stockQuantity }} </td>
                </ng-container>
                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let row"> {{row.requestedPrice | currency}} </td>
                </ng-container>
                <ng-container matColumnDef="State">
                    <th mat-header-cell *matHeaderCellDef> State </th>
                    <td mat-cell *matCellDef="let row"> {{row.tEnum }} </td>
                </ng-container>
                <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.tradeType}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

            </table>


        </div>

    </section>
</article>