.example-result-card{
    width: 100%;
    /* padding: 12px 20px; */
    /* margin-left: 10%; */
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  }
  h4{
      color: #4855c7;
  }
  h2{
      color:rgb(217,38,28);
  }