<article>
    <div >
        <h2>Live Stock Prices</h2>
        <mat-card class="example-result-card">
            <mat-card-content>
                <h4>Stock Price for Citi</h4>
                <p>Open: {{citi_data.Open}}</p>
                <p>Close: {{citi_data.Close}}</p>
                <p>High: {{citi_data.High}}</p>
                <p>Low: {{citi_data.Low}}</p>
                <p>Volume: {{citi_data.Volume}}</p>
                <p>Adj Close: {{citi_data.Adj_Close}}</p>
                <hr/>
                <h4>Stock Price for Amazon</h4>
                <p>Open: {{amazon_data.Open}}</p>
                <p>Close: {{amazon_data.Close}}</p>
                <p>High: {{amazon_data.High}}</p>
                <p>Low: {{amazon_data.Low}}</p>
                <p>Volume: {{amazon_data.Volume}}</p>
                <p>Adj Close: {{amazon_data.Adj_Close}}</p>
                <hr/>
                <h4>Stock Price for Apple Inc</h4>
                <p>Open: {{apple_data.Open}}</p>
                <p>Close: {{apple_data.Close}}</p>
                <p>High: {{apple_data.High}}</p>
                <p>Low: {{apple_data.Low}}</p>
                <p>Volume: {{apple_data.Volume}}</p>
                <p>Adj Close: {{apple_data.Adj_Close}}</p>
                <hr/>
                <h4>Stock Price for Google</h4>
                <p>Open: {{google_data.Open}}</p>
                <p>Close: {{google_data.Close}}</p>
                <p>High: {{google_data.High}}</p>
                <p>Low: {{google_data.Low}}</p>
                <p>Volume: {{google_data.Volume}}</p>
                <p>Adj Close: {{google_data.Adj_Close}}</p>

            </mat-card-content>
        </mat-card>
        

    </div>
</article>