/* article{
    width: 50%;
    margin-left: 28%;
} */
table {
    width: 100%;
    /* margin-left: 25%;
    margin-right: 25%; */
    margin-bottom: 10%;
    align-content: center;
    padding: 20px;
  }

button.accept{
  width: 70%;
  padding: 12px 20px;
  margin-right: 15%;
  margin-left: 15%;
}
div.forms {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 2%;
}

div.forms1 {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  padding: 20px;
  margin-top: 2%;
}

input{
  width: 50%;
  padding: 12px 20px;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.matforms{
  width: 100%;
  padding: 12px 20px;
  
  margin-bottom: 8px;
  display: inline-block;
  box-sizing: border-box;

}

.example-result-card{
  width: 70%;
  padding: 12px 20px;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.example-margin{
  width: 100%;
}

.long-form{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 500px;
  /* overflow-y: scroll; */
  overflow:auto;
}

.example-flex-container {
  align-content: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button.add{
  margin-top: 2%;
  margin-left: 45%;
  margin-bottom: 2%;
}

button.visibility{
  margin-left: 75%;
}
.chart{
  height: 500px;
  
}