<article>
    <section>
        <div class='forms'>
            <!-- <input [(ngModel)]="code" placeholder="Which stock Code : Default C" required/><br/> -->
            <mat-card class="example-result-card">
                <mat-card-content>
                    <h4>Select a Company</h4>
                    <mat-form-field class='matforms' appearance="fill">
                        <mat-select matTooltip="Defaults to Citi" [(ngModel)]="code">
                            <mat-option [value]="option.value" *ngFor="let option of tickers">{{ option.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>

            <mat-card class="example-result-card">
                <mat-card-content>
                    <h4>Slide for selecting days</h4>

                    <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min"
                        [step]="step" [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()"
                        [(ngModel)]="days" [vertical]="vertical">
                    </mat-slider>
                </mat-card-content>
            </mat-card>
            <div class="example-button-container">
                <button mat-fab class="add" color='primary' (click)="setHidden()" matTooltip="Add your own ticker">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <section>
                <input [(ngModel)]="code" type={{hidden}} placeholder="Which stock Code : Default C" />
                <button mat-icon-button style={{style}} (click)="setNoHidden()" class="visibility">
                    <mat-icon>visibility_off</mat-icon>
                </button></section>
            <br />
            <!-- <input [(ngModel)]="days" placeholder="number of Days : Default 10" required/><br/> -->
            <br />
            <button mat-raised-button class="accept" color="primary" (click)='getPrice()'>Get Price Data</button>
            <!-- <pre>{{data['price_data'] | json}}</pre> -->
            <br />
        </div>
        <br />
        <div class="long-form">
            <table mat-table #table [dataSource]="data.price_data" class="mat-elevation-z8">
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
                </ng-container>
                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
            </table>
        </div>


    </section>
    <div class='forms1'>
        <h4 style="color: rgb(62, 80, 243);">Ticker: {{data.ticker}}  Days: {{days}}</h4>
        <igx-financial-chart [dataSource]="data.price_data" chartType="auto" isToolbarVisible="false"  class="chart">
        </igx-financial-chart>
    </div>
</article>