.toolbarMain{
    background: #3f51b5;
    color: white;
    width: 24%;
    height: 100%;
    float: left;
}

a.toolbarMenu{
    color: white;
    text-decoration: none;
    font-size: medium;
}

.liveData{
    float: right;
    margin-top: 2%;
    margin-right: 3%;
}