<article>
  <div>
    <mat-toolbar color='primary'>
      <mat-toolbar-row>
        <button mat-icon-button (click)="setState()" class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Trading Application</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div *ngIf="state">
    <mat-toolbar class="toolbarMain">
      <mat-toolbar-row>
        <span><a [routerLink]="[ '/aboutTradingApp']" class="toolbarMenu">About The Application</a></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><a [routerLink]="[ '/tradeMonitor']" class="toolbarMenu">Trade Monitor</a></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><a [routerLink]="[ '/stockMarket']" class="toolbarMenu">Stock Market Checker</a></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><a [routerLink]="[ '/predictor']" class="toolbarMenu">Predict Your Investment</a></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span><a [routerLink]="[ '/riskAnalysis']" class="toolbarMenu">Analyse Risk in Investment</a></span>
      </mat-toolbar-row>
      <mat-toolbar-row style="height: 100%;"><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></mat-toolbar-row>


    </mat-toolbar>
  </div>
  <div class="liveData">
    <app-live-data></app-live-data>
  </div>
  <router-outlet></router-outlet>

</article>