<article>
    <div class="forms">
        <mat-card class="example-result-card">
            <mat-card-content>
                <h4>Select a Company</h4>
                <mat-form-field class='matforms' appearance="fill">
                    <mat-select matTooltip="Defaults to Citi" [(ngModel)]="ticker">
                        <mat-option [value]="option.value" *ngFor="let option of tickers">{{ option.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="example-button-container">
                    <button mat-fab class="add" color='primary' (click)="setHidden()" matTooltip="Add your own ticker">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <section>
                    <input [(ngModel)]="ticker" type={{hidden}} placeholder="Stock code : Default C" />
                    <button mat-icon-button style={{style}} (click)="setNoHidden()" class="visibility">
                        <mat-icon>visibility_off</mat-icon>
                    </button></section>
                <br /><br />
                <button mat-raised-button class="accept" color="primary" (click)='predictRisk()'>Analyse Risk</button>


                <br />
            </mat-card-content>
        </mat-card>
    </div>
    <div class="forms">
        <mat-card class="example-result-card">
            <mat-card-content>

                <div *ngIf="showSpinner" class="spinner">
                    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
                </div>
                <h6>* The below values are for single stock</h6>
                <mat-list role="list">
                    <mat-list-item role="listitem">Start Price :    {{start_price | currency}}</mat-list-item>
                    <mat-list-item role="listitem">Mean Final Price :   {{mean_final_price | currency}}</mat-list-item>
                    <mat-list-item role="listitem">Risk Value :    <p style="{{risk_style}}"> {{risk_value | currency}}</p></mat-list-item>
                <mat-list-item role="listitem">Percentage of Risk : <p style="{{risk_style}}">    {{percentage_risk}}  %</p></mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>




</article>