<article>
    <mat-card class="example-result-card1">

        <a href="https://www.citigroup.com/citi/">
            <img src="../../assets/citilogo.png" class="AboutImage" />
        </a>

    </mat-card>
    <mat-card class="example-result-card">
        <div class="forms">
            <h3>About this Application</h3>
            <ul class="main_list">
                <li>This web app displays information on any chosen stock, i.e. – the stock price, historical
                    information on price fluctuation over a specified time.</li>
                <li>Users can request and buy chosen stock and view their historical trades as well as the performance
                    of each trade.</li>
                <li>A significant target was user interface that incorporates a simplistic design which is linked to the
                    back-end.</li>
                <li>Key features included are:
                    <ul class="sub_list">
                        <li>Live price service</li>
                        <li>Trade advice service: This indicates to a user whether it is a good time to buy/sell/hold.
                        </li>
                        <li>Interactive design (use of drop down menus, sliders, etc)</li>
                        <li>Lazy loading (loads ngModules as needed, keeps initial bundle sizes smaller, decreasing the
                            load times)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </mat-card>
</article>