ul.main_list {
    list-style-type: disc;
    color:#003B70;
}

ul.sub_list {
    list-style-type: square;
    color:rgb(217,38,28);
}

.example-result-card{
    width: 50%;
    padding: 12px 20px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
  
  }

  .example-result-card1{
    width: 50%;
    padding: 12px 20px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 8px;
    box-sizing: border-box;
    margin-top: 1%;
  
  }

  div.forms {
    width: 90%;
    
    /* margin-left: 25%; */
    border-radius: 5px;
    padding: 20px;
    text-align: justify;
  }

  .AboutImage{
      /* width: 20%; */
      margin-left: 30%;
      height: 200px;
      width: 300px;
  }
