/* You can add global styles to this file, and also import other style files */
footer{
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
